body {
  color: gray;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: underline;
}

.App {
  max-width: 600px;
  margin: 40px auto;
}

.weather-container {
  border: 1px solid gray;
  border-radius: 25px;
  padding: 30px;
}

.Weather .search {
  width: 100%;
  border-radius: 5px;
  outline: none;
}

.Weather .submit {
  width: 100%;
}

.temperature {
  width: 50px;
  font-size: 42px;
  line-height: 42px;
  font-weight: bold;
  color: black;
  margin-right: 15px;
}

.temp-btn:hover {
  text-decoration: none;
  color: rgb(29, 57, 48);
}

.active {
  color: #1d6efd;
}

.Weather li {
  list-style-type: none;
}

.Weather h2 {
  font-size: 24px;
}

.Footer {
  margin-top: 40px;
}


